* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.MainSection {
  padding: 2rem;
  display: flex;

  flex-direction: column;
  gap: 2rem;
  max-width: 80%;
  margin: 0 auto;
  background-color: #f0fcff;
}

.search {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}
.search input {
  all: unset;
  border-radius: 0.25rem;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  background-color: white;
  height: 1.25rem;
  width: 34%;
  padding: 0.8rem;
  text-transform: uppercase;
  color: rgb(58, 58, 58);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.photos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5rem;
}
.imageContainer {
  position: relative;
}
.imageContainer p {
  position: absolute;
  bottom: 5px;
  padding: 1rem 0.5rem;
  text-align: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
}

.img {
  height: 230px;
  width: 230px;
  object-fit: cover;
}

/* copied style  */

.search button {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(
    100% 100% at 100% 0,
    #5adaff 0,
    #5468ff 100%
  );
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgba(58, 65, 111, 0.5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono", monospace;
  height: 36px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 12px;
  padding-right: 12px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 14px;
}

.search button:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.search button:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}
.search button:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}
